@import './common/mixins.scss';
@import './common/variables.scss';

.title {
    margin-top: 48px;
    position: relative;
    @include mainBody;

    @media (max-width: 992px) {
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        gap: 32px;
        align-items: center;
    }
}
.titleMain {
    width: 95%;

    @media (max-width: 992px) {
        display: none;
    }
}
.titleMainMobile {
    display: none;
    width: 343px;

    @media (max-width: 992px) {
        display: block;
    }
}

.titleImage {
    position: absolute;
    width: 144px;
    top: 0;
    right: 0;

    @media (max-width: 992px) {
        display: none;
    }
}
.titleImageMobile {
    display: none;

    @media (max-width: 992px) {
        display: flex;
        width: 100%;
    }
}
.titleImageMobile img {
    width: 144px;
}
.sideTitleIcon {
    width: 16px;
}
.sideTitleText {
    font-size: 22px;
    font-family: 'DrukCyrMedium';
    color: $black;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-transform: uppercase;
}
.titleBox {
    position: relative;
    height: 144px;

    @media (max-width: 992px) {
       height: auto;
    }
}
.sideTitle {
    position: absolute;
    bottom: 0;
    right: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;

    @media (max-width: 992px) {
        display: none;
    }
}