@import './common/mixins.scss';
@import './common/variables.scss';

@mixin arrows($background) {
    background-color: $background;
    width: 88px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.interiors {
    display: flex;
    width: 90%;
    margin-left: 10%;

    @media (max-width: 992px) {
        width: auto;
        display: block;
        margin-left: 0;
        margin-right: 0;
        justify-content: center;
    }
}
.interiorsImages {
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 24px 0 0;

    @media (max-width: 1399px) {
        width: 30%;
    }

    @media (max-width: 992px) {
        display: none;
    }
}
.interiorsImagesTitleBox {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 40px;
}
.interiorsImagesTitle {
    width: 126px;

    @media (max-width: 1399px) {
        width: 96px;
    }
}
.interiorsImagesSlide {
    width: 8px;
    margin-top: 90px;
}
.interiorsPhotos {
    width: 1024px;
    position: relative;

    @media (max-width: 1399px) {
        width: 70%;
    }

    @media (max-width: 992px) {
        width: auto;
    }
}
.interiorsPhotosDesktop {
    width: 1024px;

    @media (max-width: 1399px) {
        width: 100%;
    }

    @media (max-width: 992px) {
        display: none;
    }
}
.interiorsPhotosMobile {
    display: none;

    @media (max-width: 992px) {
        display: block;
        width: 375px;
    }
}
.interiorsTitleMobile {
    display: none;
 
     @media (max-width: 992px) {
         display: block;
         margin: 46px 0 24px 16px;
         height: 56px;
      }
 }
.swiper {
    position: absolute;
    bottom: 46px;
    left: -88px;
    display: flex;

    @media (max-width: 992px) {
       flex-direction: column;
       left: 16px;
       top: 16px;
       bottom: auto;
    }
}
.swiperArrows {
    cursor: pointer;
    display: flex;
}
.swiperArrows img {
    width: 50px;
}
.swiperArrowsLeft {
    @include arrows($background: $blue);
}
.swiperArrowsRight {
    @include arrows($background: $light-green);
}
.swiperCicrles {
    margin-left: 80px;
    display: flex;
    gap: 24px;
    margin-top: 64px;

    @media (max-width: 992px) {
        margin-left: 40px;
        margin-top: 460px;
     }
}
.swiperCicrlesItem {
    background-color: $light-green;
    width: 16px;
    height: 16px;
    border-radius: 16px;
}
.swiperCicrlesActive {
    width: 64px;
}