@import './common/mixins.scss';

.main {
    @include mainBody;
}
.mainImage {
    width: 100%;
    border-radius: 32px;

    @media (max-width: 992px) {
        display: none;
    }
}
.mainImageMobile {
    display: none;

    @media (max-width: 992px) {
        display: block;
        width: auto;
        max-width: 343px;
        border-radius: 32px;
    }
}