@import './common/variables.scss';
@import './common/fonts.scss';

.sidebar {
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    position: absolute;
    width: 64px;
    background-color: $violet;
    box-sizing: border-box;
    padding: 20px 23px;

    
    @media (max-width: 992px) {
        display: none;
    }
}
.sidebarItem {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    cursor: pointer;
    margin-top: 100px;
}
.sidebarIcon {
    width: 16px;
}
.sidebarText {
    font-size: 24px;
    font-family: 'DrukCyrMedium';
    color: $white;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-transform: uppercase;
}