@font-face {
    font-family: 'MontserratBold';
    src: url('../../public/fonts/Montserrat-Bold.ttf');
}
@font-face {
    font-family: 'DrukCyrMedium';
    src: url('../../public/fonts/DrukCyr-Medium.ttf');
}
@font-face {
    font-family: 'DrukWideCyrMedium';
    src: url('../../public/fonts/drukwidecyr-medium.ttf');
}
@font-face {
    font-family: 'NunitoSansBlack';
    src: url('../../public/fonts/NunitoSans-Black.ttf');
}
@font-face {
    font-family: 'NunitoSansLight';
    src: url('../../public/fonts/NunitoSans-Light.ttf');
}
@font-face {
    font-family: 'NunitoSansRegular';
    src: url('../../public/fonts/NunitoSans-Regular.ttf');
}